body
{
    font-size: 14px;
}

#liste-puce
{
    list-style-image: url(../images/puce.png);
}

.modal-backdrop
{
    opacity: 0.7;
}

.strong
{
    font-weight: bold;
}

.normal
{
    font-weight: normal;
}

.big
{
    font-size: 18px;
}

.rounded
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.indent
{
    margin-left: 25px;
}

.active
{
    font-weight: bold;
}

#header
{
    background-color: #cccccc;
}

.header-menu 
{
    margin-top: 60px;
    background-color: #006495;
    z-index: 1;
}

#header-menu
{
    background-color: #d9d9d9;
    border-top: 1px #c1c1c1 solid;
    z-index: 1;
    /*margin-bottom: -45px;    */
}

#login
{
    background-color: #009500;
    color: #002100;
    /*margin-left: 230px;*/
}


#logo
{
    padding-top: 10px;
}

.search-box 
{
    border: 1px black solid;
    border-radius: 5px;
}

#myCarousel 
{
    margin-top: -45px;
    background-color: #cccccc;
    border-top: 2px #888888 solid;
    height: 500px;
    margin-bottom: 30px;
    z-index: 0;

}

.info-bar 
{
    border: 1px #e5e5e5 solid;
    border-left: 5px #006598 solid;
    background: url(../images/triangle-info-bar.png);   
    background-repeat: no-repeat;
    background-position: left center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    padding-left: 15px;
}

.info-bar p
{
    margin-left: 30px;
    margin-right: 30px;
}

.ligne-clear
{
    background: url(../images/clear.png);
    background-repeat: repeat-x;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tri-down {

    /* Styling block element, not required */
    position: relative;
    margin-bottom: 2em;
    padding: 1em;
    border-top: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
    border-left: 5px #006598 solid;
    border-bottom: 1px #e5e5e5 solid;
    background: url(../images/triangle-info-bar.png);   
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #f7f7f7;
}

  /* Required for Down Triangle */
.tri-down:before, .tri-down:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;

    /*border-left: 1px #f7f7f7 solid;*/
}

    /* Stroke */
.tri-down:before {
    bottom: -16px;
    right: 20px;

    /* If 1px darken stroke slightly */
    border-top-color: #e5e5e5;
    border-width: 16px;
}

  /* Fill */
.tri-down:after {
    bottom: -15px;
    right: 21px;
    border-top-color: #f7f7f7;
    border-width: 15px;
}


#error-page img
{
    float: left;
    display: block;
    margin: auto;
}

#error-page p
{
    float:left;
    margin-top: 10px;
}

#error-page 
{
    text-align: center;
}



.bouton-recherche
{
    background-image: url(../images/loupe.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-color: #ffffff;    
}


.banniere
{
    background-image: url(../images/banniere.png);
    height: 100px;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: -70px;
}



.dropdown-menu
{
  background-color: #006597;
}

.navbar-nav li a:hover
{
    background-color: #004d74;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
    background-color: #004d74;
}

.carousel-control
{
    background-color: #666666;
    width: 40px;
    height: 70px;
    margin-top: 225px;
}

.carousel-inner
{
    color: #ffffff;
    background-color: #666666;
    /*margin-left: 100px;*/
    margin-top: 300px;
    height: 200px;
    width: 60%;
    margin-left: 20%;
}
/*
.carousel-indicators li,
.carousel-indicators li.active
{
    width: 100px;
    height: 50px;
}

@media screen and (max-width: 714px)
{
    .carousel-indicators
    {
        display:none;
    }
}*/

.form-group input
{
    margin-bottom: 20px;
}



/*gérer l'image représentant le triangle en haut du footer-bottom*/
@media screen and (max-width: 767px) 
{
    #footer-top img
    {
        display: none;
    }
}

#footer
{
    margin-top: 20px;
}

#footer-top
{
    background-color: #f0f0f0;
}

#footer-bottom
{
    background-color: #006598;
    line-height: 30px;
}

.btn {
    margin-top: 20px;
}

#nomApps
{
    margin-top: 20px;
    font-size: 18px;
    
}

#lienApps 
{
    color : purple;
    text-decoration: underline;
}





.tweet {
           width: 350px;
           height: 130px;
           overflow: hidden;
           
           /*background-color: rgba(98, 98, 98, 0.3);*/
           margin: 100px auto;
        }
        
        .tweet ul {
           width: 350px;
           height: 130px;
           margin:0;
           padding: 0;
           list-style: none;
        }
        .tweet li {
          max-width: 350px;
           height: 130px;
           /*float: left;*/
           /*overflow: auto;*/
           text-align: center;
           font-size: 22px;
           opacity: 0.8;
        }
        .tweet li a{
          color: #2AC8FF;
        }
        .indicator li{

              opacity: 0.8;
              display: inline-block;
              width: 22px;
              height: 22px;
              background: #242323;
              cursor: pointer;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              -o-transition: all .3s;
              -moz-transition: all .3s;
              -webkit-transition: all .3s;
              -ms-transition: all .3s;
              transition: all .3s;
        }
        .indicator li.active2{
          background: #fff;
        }



#tweet.carousel-indicators {
  bottom:-50px;
}

#tweet.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

#tweet.carousel-inner {
   margin-bottom:50px;
}