    <div class="banniere">
        <div class="container">
            <div class="col-sm-9">
                <h1>404 Error Page Not Found</h1>
            </div>
            <div class="col-sm-3">
                <p>Home/Page/<strong>404 Page</strong></p>
            </div>
        </div>
    </div>

<div class="container">

    <h1>Oops! This page cannot be found</h1>

    <div class="col-sm-12">
        <br/>
        <div class="ligne-clear">&nbsp</div>
        <br/>       
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
        <div id="error-page">
            <p class="text-center"><img src="{{base_path}}images/404-ecran.png" alt="Error"></p>
            <p>         
                Make sure the URL is entered correctly.<br/>
                Browse our portfolio of the world's best creative work.<br/><br/>
                Try searching for what you are looking for:
            </p>    
            <form>
                <input id="text" type="text" name="rechercher"  placeholder="Search..." />
                <input class="bouton-recherche" type="submit" name="bouton-recherche" value="" />
            </form>
        </div>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-12">
        <div class="info-bar">
            <!-- <div class="col-sm-9"> -->
                <p class="strong">Responsive is Attractive, Modern Bootstrap Grid Photoshop Template</p>
                <p>Integer lacus leo, ullamcorper vitae convallis eget convallis ac neque Mauris elementum.</p>
            <!-- </div>
            <div class="col-sm-3"> -->
                <button type="button" class="btn btn-lg btn-primary">Get a Free Quote Now</button>    
            <!-- </div> -->
        </div>
    </div>
</div>