<div class="{{template}}">

    <!-- <div class="col-sm-12"> -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum libero veritatis sed quisquam alias deserunt iste esse minima ipsam suscipit ex, voluptate nisi quibusdam harum dolore distinctio repellendus cumque ullam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nihil nesciunt voluptate laborum vel id ullam magnam impedit asperiores perspiciatis est, autem saepe deserunt perferendis maxime dolores dolor ad sed!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, eius officiis, vitae id laboriosam voluptates possimus totam culpa tempora optio cupiditate. Blanditiis possimus ratione amet, ipsa eveniet, aliquam autem.</p>
            </div>

            <div class="item">
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, eius officiis, vitae id laboriosam voluptates possimus totam culpa tempora optio cupiditate. Blanditiis possimus ratione amet, ipsa eveniet, aliquam autem.</p>
            </div>

            <div class="item">
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, eius officiis, vitae id laboriosam voluptates possimus totam culpa tempora optio cupiditate. Blanditiis possimus ratione amet, ipsa eveniet, aliquam autem.</p>
            </div>

            <div class="item">
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, eius officiis, vitae id laboriosam voluptates possimus totam culpa tempora optio cupiditate. Blanditiis possimus ratione amet, ipsa eveniet, aliquam autem.</p>
            </div>
            
          </div>

          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="truehttp://localhost/leProjet/images/portable-icone.png"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    <!-- </div> -->
    
    <div class="container">
        <div class="col-sm-12">
            <div class="info-bar">
                <div class="info-bar-triangle">
                    <h1 class="text-center">Something new</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat blanditiis veritatis laboriosam, qui beatae amet hic magni eius ratione molestiae vel earum sunt possimus deleniti, numquam perferendis esse reiciendis praesentium!</p>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias sit porro cum repellat sunt non, saepe ratione dolorum ea rem maxime quasi voluptate nostrum voluptatum, reiciendis ducimus. Porro, tenetur!</p> 
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias sit porro cum repellat sunt non, saepe ratione dolorum ea rem maxime quasi voluptate nostrum voluptatum, reiciendis ducimus. Porro, tenetur!</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-4">
                <p class="text-center"><img src="{{base_path}}images/pc-icone.png"></p>
                <h1 class="text-center">Professional and Corporate Design</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates numquam fugit, distinctio unde amet sed quia facilis, nobis illum? Dicta inventore, nesciunt excepturi dolores eveniet officiis earum unde commodi doloribus.</p>
            </div>
                
            <div class="col-sm-4">
                <p class="text-center"><img src="{{base_path}}images/portable-icone.png"></p>
                <h1 class="text-center">Responsive and Latest Features</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates numquam fugit, distinctio unde amet sed quia facilis, nobis illum? Dicta inventore, nesciunt excepturi dolores eveniet officiis earum unde commodi doloribus.</p>
            </div> 

            <div class="col-sm-4">
                <p class="text-center"><img src="{{base_path}}images/mug.png"></p>
                <h1 class="text-center">Bootstrap User Friendly Interface</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates numquam fugit, distinctio unde amet sed quia facilis, nobis illum? Dicta inventore, nesciunt excepturi dolores eveniet officiis earum unde commodi doloribus.</p>
            </div>
        </div>

        <div class="col-sm-12">            
            <div class="ligne-clear">&nbsp</div>          
        </div>

        <div class="col-sm-12">
            <div class="col-sm-6">
                <h1>Why Choose Us</h1>
                <ul id="liste-puce">
                    <li>1</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nulla officia corporis. Voluptate sit at necessitatibus, ipsam molestias quaerat dolorem, eligendi aperiam deserunt dolore quas sint totam modi ea recusandae.</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>

            <div class="col-sm-6">
                <h1>What client's say</h1>
                <div class="tri-down">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolor doloremque in odio id neque. Quis obcaecati eum nam distinctio alias iure temporibus a accusantium! Minus sapiente impedit expedita, sequi.</p>
                </div>
                <p class="text-right">
                    <img src="{{base_path}}images/client-icone.png" alt="Icone Client">
                    JohnDoe, Responsiver Inc.
                </p>
            </div>

        </div>
    </div>
</div>