﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% for css in head.css %}
    <link href="{{ base_path ~ css }}" rel="stylesheet">
    {% endfor %}

    {% for js in head.js %}
    <script type="text/javascript" src="{{ base_path ~ js }}"></script>
    {% endfor %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <noscript>
        <div class="modal-backdrop"></div>
        <div class="modal show" id="javascript-disabled" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>JavaScript est désactivé dans votre navigateur Internet</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Vous devez activer JavaScript pour continuer votre navigation.
                        </p>
                        <p>Ensuite, actualiser cette page pour supprimer ce message.</p>
                        <p>
                            <a href="http://www.enable-javascript.com/fr/" target="_blanck">Comment activer JavaScript</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </noscript>

    <div id="header">
        <div class="container">{% include 'header.html' %}</div>
    </div>

    <div id="header-menu">
        <div class="container">{% include 'menu.html' %}</div>
    </div>

    <div id="main-container">
        {% if messages|length > 0 %}
        <div id="messages" class="container">
            <div class="row">
                <!-- <div class="{% if template == 'home' %}col-md-12{% else %}col-md-10 col-md-offset-1{% endif %}">
                -->
                <div class="col-md-12">
                    {% for message in messages %}
                        {% autoescape false %}
                    <div class="alert alert-{{ message.type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> <strong>{{ message.title }}</strong>
                        {{ message.text }}
                    </div>
                    {% endautoescape %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- <div class="container"> -->
            <div class="row">
                <!-- <div id="content" class="{% if template == 'home' %}col-md-12{% else %}col-md-10 col-md-offset-1{% endif %}">
                -->
                <div id="content" class="col-md-12">{% include template_file %}</div>
            </div>
        <!-- </div> -->
    </div>

    <div id="footer">       
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
    </div>
</body>
</html>