<div class="{{template}}">
    <div id="logo">
        <div class="row-fluid">
            <div class="col-sm-3">
                <a href="{{base_path}}"><img src="{{base_path}}images/perjeta.png" class="img-responsive" alt="Logo"></a>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
                <!-- <div class="search-box"> -->
                    <!-- <p>Search <span class="glyphicon glyphicon-search"></span></p> -->
                <!-- </div> -->
            </div>
        </div>
    </div>

    <nav class="header-menu navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{base_path}}">SixFellows</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{% if template == 'example' %}active{% endif %}"><a href="example">Example</a></li>
                <li class="{% if template == 'test' %}active{% endif %}"><a href="test">Test</a></li>
                <li class="{% if template == 'test-example' %}active{% endif %}"><a href="test-example">Test-example</a></li> 
                <li class="{% if template == 'review' %}active{% endif %}"><a href="review">Review</a></li>
                <li class="{% if template == 'postApplication' %}active{% endif %}"><a href="posteApplication">Poster une application</a></li>

                {% if(account.uid != 0) %}
                    <li class="{% if template == 'mesApplications' %}active{% endif %}"><a href="mesApplications">Mes applications</a></li>
                    <li id="login"><a href="?q=logout">Logout</a>
                {% endif %}
                {% if(account.uid == 0) %}
                    <li class="dropdown" id="login">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Login
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="login"><a href="?q=loginFacebook">with Facebook</a></li>
                            <li id="login"><a href="?q=loginTwitter">with Twitter</a></li>                        
                            {% endif %}
                        </ul>
                    </li>
            </ul>
        </div>
    </nav>
</div>