<div class="{{template}}">
    <div class="container">
        <h1>Mes Applications :</h1>
        {% if content.resultat != null %}
            {% for application in content.resultat %}
                <div class="col-sm-4">
                    <div class="info-bar">
                        <img src={{application['results'][0]['artworkUrl512']}} style="width:100px; height:100px; border-radius:25%;"></img>
                        <h3>Nom de l'application :</h3> 
                        <p id="nomApps">{{application['results'][0]['trackCensoredName']}}</p>
                        <h3>Lien vers l'AppStore :</h3>
                        <p id="lienApps"><a id="lienApps" href={{application['results'][0]['trackViewUrl']}}>{{application['results'][0]['trackViewUrl']}}</a></p>
                        <form method="post" action="mesApplications" enctype="multipart/form-data">
                            <button class="btn btn-primary" value="{{application['results'][0]['trackViewUrl']}}" name="supprimer"><div class="glyphicon glyphicon-remove"></div> Supprimer Application</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Vous n'avez pas encore d'application, aller en poster <a id="lienApps" href="posteApplication">ici</a>
        {% endif %}
    </div>
</div>