<div class="{{template}}">
    <div class="container">
        <h1>Poster une application</h1>
        {% if account.uid != null %}
            <form method="post" action="posteApplication" enctype="multipart/form-data">
                <div class="form-group {% if content.form.nom.error %} has-error {% endif %}">
                    <label for="nomApplication" class="col-sm-2 control-label">Nom de l'application</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nomApplication" name="nomApplication" value="{% if content.form.nom.value %}{{ content.form.nom.value }}{% endif %}">
                    </div>
                </div>
                
                <div class="form-group {% if content.form.lien.error %} has-error {% endif %}">
                    <label for="lien" class="col-sm-2 control-label">Lien vers l'Appstore</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lien" name="lien" value="{% if content.form.lien %}{{ content.form.lien.value }}{% endif %}">
                    </div>
                </div>

                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="envoyer" class="btn btn-primary">Submit</button>
                </div>
            </form>
        {% else %}
            <p>
                Connectez-vous avant de poster une application !
            </p>
        {% endif %}
    </div>
</div>