﻿<div class="{{template}}">
    <div class="container">
        <div class="col-sm-12">
            <h1>Faire une Review :</h1>
            {% if account.uid != null %}
                {% if content.application != null %}
                    <p class="text-center">
                        <img src="{{content.application.results.0.artworkUrl512}}">
                        <p>{{content.application.results.0.description}}</p>
                    </p>
                    <hr>
                    <form method="post" action="review" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="fichier">Screenshot de la review</label>
                            <input type="file" id="fichier" name="fichier">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                {% else %}
                    <p>
                        Aucune application à review pour le moment !
                    </p>
                {% endif %}
            {% else %}
                <p>
                    Connectez-vous avant de faire une review !
                </p>
            {% endif %}
        </div>
    </div>
</div>