<div class="{{template}} {{content.group}}">
    <h1>Test page</h1>
    
    <table class="table table-striped">
    <tr>
        <td>Current date</td>
        <td>{{content.current_date}}</td>
    </tr>
    <tr>
        <td>Random</td>
        <td>{{content.random}}</td>
    </tr>
    <tr>
        <td>Base path</td>
        <td>{{base_path}}</td>
    </tr>
    <tr>
        <td>Items</td>
        <td>
            <ul>
                {% for item in content.items %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    </table>

    <img src="{{base_path}}images/koala.jpg" alt="koala" width="300px">

    {% if template == 'test' %}

        <div class="info-bar">
            <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Quo doloremque tenetur ab incidunt deserunt, nulla assumenda commodi ducimus numquam eligendi, fugit vel impedit suscipit voluptates non molestias accusantium illum delectus.</p>
        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo doloremque tenetur ab incidunt deserunt, nulla assumenda commodi ducimus numquam eligendi, fugit vel impedit suscipit voluptates non molestias accusantium illum delectus.</p>

            <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Quo doloremque tenetur ab incidunt deserunt, nulla assumenda commodi ducimus numquam eligendi, fugit vel impedit suscipit voluptates non molestias accusantium illum delectus.</p>
        </div>
    {% endif %}

</div>